.pokemon-card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 30px;
  max-width: 600px;
  margin: 10px auto;

  &__image {
    width: 300px;
    height: 300px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    text-transform: capitalize;

    & h2 {
      margin: 15px;
    }
  }
}

.button-back {
  background-color: transparent;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: thin solid #f4f4f4;
  cursor: pointer;
}

@media (max-width: 450px) {
  .pokemon-card-wrapper {
    flex-direction: column;
    margin: 10px 30px;

    &__image {
      width: 180px;
      height: 180px;
    }
  }
}
